
#search-panel {
    position: relative;
    top: 24px;
    left: 2%;
    width: 61%;
    z-index: 3;
    background-color: #1abc9c;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
